/* Global Styles  */

body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

div{
  border: 1px solid white;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}
/* Header */

header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background: black;
  /* font-family: "Helvetica", sans-serif;
  font-size:  */
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img{
  height:50px;
}

header nav{
  padding-right: 10px;
}

/* Mission */


/* Month */


/* Locations* /


/* Footer */
